@charset "UTF-8";
/*Dos sintaxis. SCSS Y SASS*/
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.text-center {
  text-align: center; }

.bg-white {
  background: #eee; }

.t-white {
  color: #eee; }

.bg-orange {
  background: #FFC107; }

.t-orange {
  color: #FFC107; }

.bg-brown {
  background: #795548; }

.t-brown {
  color: #795548; }

.bg-darkbrown {
  background: #3E2723; }

.t-darkbrown {
  color: #3E2723; }

.bg-pink {
  background: #FF3399; }

.t-pink {
  color: #FF3399; }

.bg-purple {
  background: #FF3399; }

.t-purple {
  color: #FF3399; }

.bg-red {
  background: #B71C1C; }

.t-red {
  color: #B71C1C; }

.bg-blue {
  background: #2196F3; }

.t-blue {
  color: #2196F3; }

.bg-bluegrey {
  background: #3E2723; }

.t-bluegrey {
  color: #3E2723; }

.bg-hardgrey {
  background: #222; }

.t-hardgrey {
  color: #222; }

.bg1 {
  color: white;
  background: url("../img/fondo-bienvenido-grande.jpg") 100%; }

 .grad-pinkblue{
background: #87c3ff; /* Old browsers */
background: -moz-linear-gradient(45deg, #87c3ff 0%, #e93cec 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #87c3ff 0%,#e93cec 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #87c3ff 0%,#e93cec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
/*-----------------------------
          padins y margins
------------------------------*/
*{
  box-sizing: border-box;
}
.pad15{
  padding:15px;
}
/*-----------------------------
     ESTILOS, TAMAÑOS DE TEXTO ETC.
------------------------------*/

.head-title{
  background: #1b1e24;
  color:white;
  display: block;
  padding: 5px 15px 5px 15px;
}

/*-----------------------------
          otros
------------------------------*/

/*-----------------------------
        forms
-----------------------------*/
select{
   width:100%;
  margin-top: 1em;
  border: 3px solid #c7dee4;
}
input{
  width:100%;
  margin-top: 1em;
}

input[type=text]{
  border: 3px solid #c7dee4;
}

/*-----------------------------
        forms
-----------------------------*/

#table th{

  padding: 5px 15px 5px 15px;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

td {
    background: #FFFFFF;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

th:first-child {
    border-top-left-radius: 3px;
}
/*-----------------------------
        sidebar
-----------------------------*/
/* Sidebar*/
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee; }

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0; }
.nav-link{
  border-radius: 0px !important;
}
.nav-link.active{
  background: #f44336  !important;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
/*-----------------------------
        login
-----------------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*-----------------------------
        media queries
-----------------------------*/
.navbar-info{
  display: none;
}
@media (min-width: 992px) {
  .navbar-info {
    display: inline-block;
  }
}

.no-desktop{
  display: inline-block;
}
@media (min-width: 992px) {
  .no-desktop {
    display: none;
  }
}